.keyboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keyboard-row {
  display: flex;
  border-bottom:1px solid black;
}

.keyboard-row:first-child {
  border-top: 1px solid black;
}

.keyboard-key {
  width: 30px;
  height: 30px;
  font-size: 16px;
  border-left: 1px solid black;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard-key:last-child {
  border-right: 1px solid black;
}

.keyboard-key-used {
  background-color:gainsboro;
}

/* Galaxy Fold */
@media (max-width: 280px) {
  .keyboard-key {
    width: 25px;
    height: 25px;
    font-size: 14px;
  }
}

/* iPad */
@media (min-width: 600px) {
  .keyboard-key {
    width: 50px;
    height: 50px;
    font-size: 24px;
  }
}

/* probably a computer screen */
@media (min-width: 913px) {
  .keyboard-key {
    width: 30px;
    height: 30px;
    font-size: 16px;
  }
}
