/* Normal phones */
.word-data {
  width: 55px;
  height: 55px;
  border: 1px solid black;
}

input {
  width: 45px;
  height: 45px;
  border: none;
  background-color: inherit;
  text-align: center;
  font-size: 30px;
}

/* Galaxy Fold */
@media (max-width: 280px) {
  .word-data {
    width: 45px;
    height: 45px;
  }
    input {
    width: 40px;
    height: 40px;
    font-size: 24px;
  }
}

/* iPad */
@media (min-width: 600px) {
  .word-data {
    width: 100px;
    height: 100px;
  }
    input {
    width: 90px;
    height: 90px;
    font-size: 48px;
  }
}

/* probably a computer screen */
@media (min-width: 913px) {
  .word-data {
    width: 65px;
    height: 65px;
  }
  input {
    width: 55px;
    height: 55px;
    font-size: 48px;
  }
}

input:focus {
  outline: none;
}

input:active {
  border: none;
}

input:read-only {
  cursor: default;
}

.word-data-editable {
  cursor: pointer;
  background-color: rgb(253, 249, 232);
}

@media (min-width: 913px) {
  .word-data-editable:hover {
    background-color: rgb(247, 234, 184);
  }
}

.word-data-correct-place {
  background-color: green;
}

.word-data-wrong-place {
  background-color: gold;
}

.word-data-wrong-letter {
  background-color: white;
}
